<!-- <div *ngFor="let message of webService.messages"> -->
<div *ngFor="let message of webService.messages | async">
  <mat-card class="card">    
    <mat-card-title [routerLink]="['/messages', message.owner]" style="cursor: pointer">{{message.owner}}</mat-card-title>    
    <mat-card-content>
      {{message.text}}
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
</div>

